<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" />
      </layout>
    </appender>
    <appender name="ExceptionLog" type="log4net.Appender.RollingFileAppender">
      <file value="SwiftLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{ISO8601} [%thread] %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="console" />
      <appender-ref ref="ExceptionLog"/>
    </root>
  </log4net>
  <appSettings>        
    <add key="APIBaseUrl" value="https://api.swiftdigital.com.au/server/includes/restapi/v1/index.php"/>
    <!-- add in your details for API access below -->
    <add key="ConsumerKey" value=""/>
    <add key="ConsumerSecret" value=""/>
    <add key="UserId" value=""/>
    <add key="APIKey" value=""/>
    <add key="APICallSource" value="sf"/>

    <!-- Set this to the path where you have the mail group csv's -->
    <add key="CsvFilePath" value="C:\CSVPath"/>

    <add key="ArchiveFilePath" value="C:\ArchivePath"/>

    <add key="SwiftSYNIDFieldID" value=""/>

    <add key="SwiftCompanyFieldID" value=""/>

    <!-- set this to the ID of the master group -->
    <add key="MasterGroupID" value=""/>

    <!-- SMTP settings for email notifications -->
    <add key="SMTPServer" value=""/>
    <add key="SMTPUsername" value=""/>
    <add key="SMTPPassword" value=""/>
    <!-- SMTP port, Specify 0 if port is not required by SMTP -->
    <add key="SMTPPort" value="587"/>
    <add key="SMTPFrom" value=""/>
    <add key="EmailRecipients" value=""/>
  </appSettings>
</configuration>